html {
  background-color: #000;
  color: #fafafa;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans", sans-serif;
}

p,
a,
button,
li {
  font-family: "Montserrat", sans-serif;
}
