header {
  line-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in;
  z-index: 99;
  background-color: #000;
  .logo {
    padding-left: 20px;
    a {
      font-weight: bold;
      display: block;
    }
  }
  .menu-btn {
    padding-right: 20px;
    cursor: pointer;
    img {
      height: 25px;
    }
  }
  .navbar {
    z-index: 99;
    display: none;
    width: 100%;
    .show & {
      display: block;
    }
    ul {
      width: 100%;
      position: absolute;
      li {
        padding-left: 20px;
        background-color: #1f1f1f;
        a.active {
          color: $brand-color;
        }
        &:hover {
          color: $brand-color;
          transition: 0.3s ease-out;
        }
      }
    }
  }
}
//desktop styles
@media (min-width: $desktop) {
  header {
    flex-wrap: nowrap;
    .navbar {
      display: flex;
      width: min-content;
      ul {
        display: flex;
        position: relative;
        li {
          padding: 0 20px;
          background-color: transparent;
        }
      }
    }
    .menu-btn {
      display: none;
    }
  }
}
