header {
  position: fixed;
  max-width: 1600px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in;
  z-index: 99;
  background-color: #000;
  .logo {
    padding-left: 20px;
    a {
      // font-weight: bold;
      font-size: 1.5em;
      display: block;
    }
  }
  .menu-btn {
    padding-right: 20px;
    cursor: pointer;
    img {
      height: 25px;
    }
  }
  .navbar {
    z-index: 99;
    display: none;
    width: 100%;
    .show & {
      display: block;
    }
    ul {
      width: 100%;
      position: absolute;
      li {
        background-color: $dark-grey;
        text-align: center;
        a.active {
          color: $brand-color;
          background-color: $light-grey;
        }
        &:hover {
          background-color: $light-grey;
        }
      }
    }
  }
}
//desktop styles
@media (min-width: $desktop) {
  header {
    // flex-wrap: nowrap;
    .navbar {
      // display: flex;
      // width: min-content;
      ul {
        // display: flex;
        // position: relative;
        li {
          padding-left: 0;
          // padding: 0 20px;
          // background-color: transparent;
          text-align: right;
          transition: 0.1s;
          a {
            padding-right: 20px;
          }
          &:hover {
            font-size: 1.3em;
            color: $brand-color;
          }
        }
      }
    }
    // .menu-btn {
    //   display: none;
    // }
  }
}
