.movie {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  .backdrop-wrapper {
    display: none;
  }
  .poster-wrapper,
  .movie-info,
  .movie-overview {
    margin: 0 auto;
  }
  .poster-wrapper {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    img {
      border-radius: 8px;
    }
    .trailer-section {
      display: none;
    }
  }
  .movie-info {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 1.5em;
    }
    .movie-header {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      padding: 0 20px;
      text-align: center;
      align-items: center;
      #rating {
        padding: 0 10px;
        background-color: $brand-color;
        border-radius: 8px;
        color: #fafafa;
        margin-top: 20px;
      }
    }
    .movie-details {
      margin: 20px 0;
      text-align: center;
      padding: 0 20px;
    }
    .movie-overview {
      width: 70%;
      margin: 0 auto;
      text-align: left;
      line-height: 1.4em;
      margin-bottom: 60px;
      p:first-child {
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
  .movie-btns {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: flex-end;
    align-self: flex-start;
    padding-right: 6px;
    padding-top: 6px;
  }
  #similar-movie-heading {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #222222;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .similar-movies {
    grid-row: 5 / 6;
    grid-column: 1 / 4;
  }

  .line-break {
    color: white;
  }
}

@media (min-width: 1200px) {
  .movie {
    display: grid;
    grid-template-columns: 60px 350px auto;
    grid-template-rows: 300px 250px auto auto;
    overflow: hidden;
    .backdrop-wrapper {
      display: block;
      grid-column: 1 / 4;
      grid-row: 1 / 3;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: top center;
        border-radius: 8px;
      }
    }
    .poster-wrapper {
      grid-column: 2 / 3;
      grid-row: 2 / 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      img {
        border-radius: 8px;
      }
      .trailer-section {
        align-self: center;
        margin-top: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: #afafaf;
        }
        h3 {
          margin-left: 10px;
        }
        .trailer-container {
          img {
            width: 40px;
          }
          .trailer-btn {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
    .movie-info {
      padding-top: 40px;
      width: 90%;
      grid-column: 3 / 4;
      grid-row: 3 / 5;
      font-size: 1em;
      align-items: stretch;
      h2 {
        font-size: 2.5em;
        font-weight: 700;
        text-shadow: 2px 2px 2px $brand-color;
      }
      p,
      a,
      button {
        font-size: 1.2em;
        line-height: 1.5em;
      }
      .movie-header {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        align-items: center;
        #rating {
          margin-top: 0;
        }
      }
      .movie-details {
        font-size: 1em;
        display: flex;
        align-items: center;
        padding: 25px 0;
        margin: 0;
        & > *:not(:last-child) {
          padding-right: 50px;
        }
        // .movie-btns {
        //   display: flex;
        //   align-items: center;
        //   margin-left: auto;
        // }
      }
      .movie-overview {
        width: 100%;
        text-align: left;
        p:first-child {
          text-align: left;
        }
      }
    }
    .movie-btns {
      // grid-column: 1 / 4;
      // grid-row: 1 / 2;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 6px;
      margin-top: 4px;
    }
    #similar-movie-heading {
      grid-row: 5 / 6;
      grid-column: 1 / 4;
      font-size: 2em;
      // background-color: $brand-color;
      // border-radius: 8px;
      // margin: 0 auto;
      // padding: 20px 40px;
      padding-top: 60px;
      padding-left: 20px;
      margin-bottom: 40px;
      font-weight: 500;
      width: 100%;
      text-align: left;
    }
    .similar-movies {
      grid-row: 6 / 7;
      grid-column: 1 / 4;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
      place-items: center;
      justify-content: center;
      gap: 20px;
      padding-bottom: 20px;
    }
  }
}
