.poster {
  // .poster-title {
  //   margin-top: 10px;
  //   font-weight: bold;
  //   font-size: 1.2em;
  // }
  .posterimg {
    img {
      border-radius: 10px;
      height: 100%;
      width: 100%;
      object-fit: fill;
      box-shadow: 1px 1px 1px #b1b1b1;
    }
  }
}
