.search-container {
  width: 50%;
  .searchbar {
    input {
      height: 30px;
      width: 100%;
      padding: 0 5px;
      border-radius: 8px;
      font-style: italic;
      background-color: $dark-grey;
      transition: 0.15s ease-out;
      &:hover,
      &:focus {
        background-color: $light-grey;
      }
    }
  }
  .search-results {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 90;
    opacity: 1;
    max-height: 75vh;
    overflow-y: scroll;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    scrollbar-width: thin;
    .search-result {
      display: flex;
      align-items: center;
      background-color: $dark-grey;
      padding: 10px 10px;
      border-top: 1px solid #979797;

      &:hover {
        background-color: $light-grey;
      }
      .result-poster {
        width: 100px;
        min-width: 100px;
      }
      .result-details {
        margin-left: 20px;
        line-height: 1em;
        .result-title {
          font-size: 1em;
          margin-bottom: 3px;
        }
        .result-year {
          color: #a5a5a5;
          font-size: 0.7em;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .search-container {
    .search-results {
      .search-result {
        .result-details {
          line-height: 1.3em;
          .result-title {
            font-size: 1.4em;
            margin-bottom: 6px;
          }
          .result-year {
            font-size: 1em;
          }
        }
      }
    }
  }
}

// @media (min-width: $desktop) {
//   .search-container {
//     width: 40%;
//     justify-self: center;
//     .searchbar {
//       input {
//         width: 30%;
//         transition: 0.15s ease-out;
//         &:focus,
//         &:hover {
//           width: 100%;
//         }
//       }
//     }
//     .search-results {
//       .search-result {
//         width: 100%;
//         max-width: 1600px;
//         margin: 0 auto;
//       }
//     }
//   }
// }
