.search-container {
  width: 50%;
  margin: 0 auto;
  .searchbar {
    // border-bottom: 1px solid #979797;
    input {
      width: 100%;
    }
  }
  .search-results {
    position: absolute;
    z-index: 90;
    width: inherit;
    opacity: 1 !important;
    .search-result {
      display: flex;
      align-items: center;
      background-color: rgb(31, 31, 31);
      padding: 10px 10px;
      border-top: 1px solid #979797;
      &:hover {
        background-color: #5f5f5f;
      }
      .result-poster {
        width: 100px;
        min-width: 100px;
      }
      .result-details {
        margin-left: 20px;
        .result-title {
          font-size: 1.3em;
        }
        .result-year {
          color: #a5a5a5;
          font-size: 1em;
        }
      }
    }
  }
}
