.search-container {
  width: 50%;
  .searchbar {
    input {
      height: 30px;
      width: 100%;
      padding: 0 5px;
      border-radius: 8px;
      font-style: italic;
      background-color: #1b1b1b;
      &:hover,
      &:focus {
        background-color: #1f1f1f;
      }
    }
  }
  .search-results {
    position: absolute;
    left: 0;
    z-index: 90;
    width: 100%;
    opacity: 1;
    .search-result {
      width: 100vw;
      display: flex;
      align-items: center;
      background-color: #1f1f1f;
      padding: 10px 10px;
      border-top: 1px solid #979797;
      &:hover {
        background-color: #5f5f5f;
      }
      .result-poster {
        width: 100px;
        min-width: 100px;
      }
      .result-details {
        margin-left: 20px;
        line-height: 1em;
        .result-title {
          font-size: 1em;
          margin-bottom: 3px;
        }
        .result-year {
          color: #a5a5a5;
          font-size: 0.7em;
        }
      }
    }
  }
}

@media (min-width: $tablet) {
  .search-container {
    .search-results {
      .search-result {
        .result-details {
          line-height: 1.3em;
          .result-title {
            font-size: 1.4em;
            margin-bottom: 6px;
          }
          .result-year {
            font-size: 1em;
          }
        }
      }
    }
  }
}

@media (min-width: $desktop) {
  .search-container {
    .search-results {
      .search-result {
        width: inherit;
        max-width: 1600px;
        margin: 0 auto;
      }
    }
  }
}
