.sortOrder {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    li {
      padding: 0 20px;
      cursor: pointer;
      color: lighten($light-grey, 15%);
      transition: 0.2s ease-in;
      font-family: "Roboto Slab", serif;
      font-style: italic;
      font-size: 0.8em;
      &.active,
      &:hover {
        font-style: normal;
        color: $brand-color;
      }
    }
  }
}

@media (min-width: $tablet) {
  .sortOrder {
    ul li {
      font-size: 1.2em;
    }
  }
}

@media (min-width: $desktop) {
  .sortOrder {
    // justify-content: flex-start;
    // margin: 40px 0;
    ul li {
      font-size: 1.5em;
      padding: 0 40px;
    }
  }
}
