.sortOrder {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    align-items: center;
    li {
      padding: 0 20px;
      cursor: pointer;
      color: lighten($light-grey, 35%);
      font-family: "PT Sans", sans-serif !important;
      font-size: 1em;
      transition: 0.15s ease-in;
      &.active,
      &:hover {
        color: $brand-color;
      }
    }
  }
}

@media (min-width: $tablet) {
  .sortOrder {
    ul li {
      font-size: 1.5em;
    }
  }
}

@media (min-width: $desktop) {
  .sortOrder {
    // justify-content: flex-start;
    // margin: 40px 0;
    ul li {
      font-size: 2em;
      padding: 0 40px;
    }
  }
}
