.sortOrder {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  ul {
    display: flex;
    li {
      padding: 0 20px;
      cursor: pointer;
      color: #a8a8a8;
      font-family: "PT Sans", sans-serif !important;
      font-size: 1em;
      &.active {
        color: $brand-color;
      }
    }
  }
}

@media (min-width: 1200px) {
  .sortOrder {
    // justify-content: flex-start;
    // margin: 40px 0;
    ul li {
      font-size: 1.5em;
      &:hover {
        transition: 0.3s ease-out;
        color: $brand-color;
      }
    }
  }
}
